# ----------------------------------------------------------------------
# Authentication
# ----------------------------------------------------------------------
# AuthType Basic
# AuthName "Protected Area"
# AuthUserFile /path/to/.htpasswd
# Require valid-user
# Allow from 127.0.0.1
# Satisfy Any