//{{#each Members}}
<li class="coenv-fw-member" style="background-color: {{color}};">
	<a href="{{permalink}}" class="coenv-fw-member-inner">
		<img class="coenv-fw-member-image" src="{{image}}">
		<p class="coenv-fw-member-name">{{name}}</p>
	</a>
</li>
{{/each}}