@font-face {
	font-family: 'entypo';
	src:url('../../fonts/entypo.eot');
	src:url('../../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/entypo.woff') format('woff'),
		url('../../fonts/entypo.ttf') format('truetype'),
		url('../../fonts/entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-left, .icon-arrow-down, .icon-arrow-up, .icon-arrow-right, .icon-grid {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-left:before {
	content: "\e028";
}
.icon-arrow-down:before {
	content: "\e029";
}
.icon-arrow-up:before {
	content: "\e02a";
}
.icon-arrow-right:before {
	content: "\e02b";
}
.icon-grid:before {
	content: "\e005";
}
